{% extends 'amazon/base.html'%}
{% load static %}
{% block title %} Create New product  {% endblock %}
{% block content %}

    <h1> Add new Product </h1>
<form class="form-row"  method="POST" action="">
  {% csrf_token %}
  <div class="mb-3">
    <label  class="form-label">Name </label>
    <input type="text"  name='name' class="form-control">
  </div>
    <div class="mb-3">
    <label  class="form-label">Description </label>
    <input type="text"  name='description' class="form-control">
  </div>
    <div class="mb-3">
    <label  class="form-label">Price </label>
    <input type="number"  name='price' class="form-control">
  </div>
    <div class="mb-3">
    <label  class="form-label">Image </label>
    <input type="text" name="image" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}